body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.margin {
    margin: auto;
    max-width: 1110px;
    width: 100%;
}

.background {
    background: black;
}

.background-second {
    background: #0F0F0F;
}

.background-third {
    background: url("images/Rectangle 15.png");
}

.line {
    margin-top: 40px;
    width: 120px;
    height: 0px;
    border: 1px solid #FFFFFF;
}

.fa-solid {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    line-height: 16px;
    color: #969696;
    margin-right: 10px;

}

.text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;
    align-items: center;

}

.block {
    display: flex;
    align-items: center;
    text-align: center;
}


.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.top-header {
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
    min-width: 280px;
    min-height: 44px;
}

.content-top-header-right {
    display: flex;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    line-height: 16px;
    align-items: center;
    color: #969696;
}

.content-top-header-left {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    line-height: 16px;
    color: #969696;

}


.bottom-header {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background-color: #0f0f0f;
    align-items: center;
    justify-content: space-between;
    min-width: 360px;
    min-height: 80px;
}

.content-bottom-header-left {
    display: flex;
    flex: 1;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 250%;
    color: #FFFFFF;
    text-transform: uppercase;
    align-content: center;
    margin: auto;
    max-width: 555px;
}

.content-bottom-header-right {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 555px;
}

.content {
    height: auto;
    background-color: #191B1C;
}

.first-content {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    background: #0f0f0f url("images/Rectangle 3.jpg");
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 810px;

}

.first-middle-content {
    color: #FFFFFF;
    border: #FFFFFF 4px solid;
    height: 320px;
    width: 320px;
    align-items: center;
    margin-bottom: 60px;
}

.middle-content-text {
    font-family: 'Stick No Bills', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 64px;
    line-height: 60px;
    text-align: center;
    margin-top: 35%;
}

.bottom-middle-content-text {
    text-align: center;
    text-decoration: overline;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

}

.first-content-bottom-text {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    max-width: 730px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.second-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.second-content-left {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    background-color: black;
    flex-direction: column;
    min-width: 360px;
    min-height: 730px;
    flex-direction: column;
}

.second-content-text {
    display: flex;
    margin-top: 40px;
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
}

.second-content-image {
    display: flex;
    min-height: fit-content;
    min-width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-top: 10%;
    gap: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    /*margin-bottom: 20px;*/
}

.image-clock {
    display: flex;
    width: 260px;
    height: 325px;
    /*height: 100%;*/
    /*justify-content: space-around;*/
    background-color: #131212;
    min-width: 200px;
    max-width: 215px;
    align-items: center;
    /*max-width: 215px;*/
}

.row {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    min-height: 50px;
    align-items: center;
}

.row-second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
}


.second-content-right {
    display: flex;
    flex: 1;
    height: 100%;
    min-width: 360px;
    /*min-width: 45%;*/
    max-width: 880px;
    min-height: 730px;
    background-image: url("images/Rectangle 8.png");
    /*background-repeat: no-repeat;*/
    background-color: #191B1C;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-content-text-right {
    font-family: 'Stick No Bills', sans-serif;
    font-style: normal;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    margin-top: 45%;
    color: #FFFFFF;

}

.block-content-second {
    color: #FFFFFF;
    border: #FFFFFF 2px solid;
    height: 30px;
    width: 82px;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.third-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.third-content-left {
    display: flex;
    flex: 1;
    min-width: 360px;
    min-height: 600px;
    max-width: 880px;
    background-image: url("images/Rectangle 9.png");
    background-color: #191B1C;
    justify-content: center;
    align-items: center;
}

.third-content-right {
    display: flex;
    flex: 1;
    height: 100%;
    min-height: 600px;
    min-width: 360px;
    background-color: #000000;
    align-items: center;
    flex-direction: column;
}

.third-content-text-top {
    display: flex;
    margin-top: 10%;
    height: 20%;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-content-text-middle {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 40%;
    max-width: 60%;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

/*s.u.c.k.*/
.third-content-block {
    color: #FFFFFF;
    border: #FFFFFF 2px solid;
    height: 35px;
    width: 300px;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10%;
}

.third-content-block-text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fourth-content {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background-color: black;
    align-items: center;
    flex-direction: column;
}

.fourth-text-top {
    display: flex;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;
    align-items: center;
    margin-top: 3%;
    flex-direction: column;
}

.fourth-text-image {
    display: flex;
    /*margin-top: 20px;*/
    font-family: Playfair Display;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fcfcfc;
    align-items: center;
    margin-top: 3%;
    flex-direction: column;
}

.fourth-content-image {
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 50px;
    margin: 50px 0px;

}

.fifth-content {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background-color: #0F0F0F;
    align-items: center;
    flex-direction: column;
    min-height: 360px;

}

.fifth-text-top {
    display: flex;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;
    align-items: center;
    margin-top: 3%;
    flex-direction: column;
}

.fifth-content-image {
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-top: 3%;
}

.column1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;


}

.column-second {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}


.image-brand {
    display: flex;
    width: 60%;
    height: 80%;
    justify-content: space-around;
    background-color: #0f0f0f;
    min-width: 220px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    background-color: #000000;
    color: #FFFFFF;
    flex-direction: column;
}

.sixth-content {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    min-height: 400px;
    justify-content: space-around;
}

.sixth-content-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 8% 0px 30px 20px;
}

.sixth-left-top {
    display: flex;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-top: 3%;
}

.sixth-left-bottom {
    display: flex;
    font-family: Playfair Display;
    font-size: 14px;
    line-height: 21px;
    color: #fcfcfc;
    margin-top: 40px;
}

.sixth-content-middle {
    display: flex;
    flex: 1;
    flex-direction: column;
    /*margin-top: 8%;*/
    /*padding-right: 1%;*/
    margin: 8% 30px 30px 20px;

}

.sixth-middle-top {
    display: flex;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-top: 3%;
}

.sixth-middle-bottom {
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
}

.mail {
    display: flex;
    background: #FFFFFF66;
    color: #fcfcfc;
    font-family: Playfair Display;
    font-size: 14px;
    line-height: 21px;
    min-width: 210px;
    padding: 10px;

}

.sixth-content-button {
    display: flex;
    background: #0F0F0F;
    padding: 10px;
    color: #fcfcfc;
    font-size: 14px;
    line-height: 21px;
}

.child-middle-top {
    display: flex;
    flex: 1;
    min-height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.sixth-content-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    /*margin-top: 8%;*/
    margin: 8% 0px 10px 20px;

}

.sixth-right-top {
    display: flex;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-top: 3%;
}

.sixth-middle-text {
    display: flex;
    font-family: Playfair Display;
    font-size: 14px;
    line-height: 21px;
    color: #fcfcfc;
    margin: 40px 0px;
}

.sixth-middle-text2 {
    display: flex;
    width: 100%;
    font-family: Playfair Display;
    font-size: 14px;
    line-height: 21px;
    color: #fcfcfc;
    margin-top: 3%;
}
