body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.margin {
    margin: auto;
    max-width: 1110px;
    width: 100%;
}

.icon {
    height: 13px;

}

.background {
    background: black;
}

.background-second {
    background: #0F0F0F;
}

.background-third {
    background: url("images/Rectangle 15.png");
}

.line {
    margin: 30px 0;
    width: 120px;
    border: 1px solid #FFFFFF;
}

.padding{
    padding-right: 10px;
}

.icon-margin {
    display: flex;
    cursor: pointer;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background: none;
    border: none;
}

.icon-margin:hover {
    background: #1F1F1F;
}

.text {
    display: flex;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #969696;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.text:hover {
    background: #1F1F1F;
}

.text-second {
    display: flex;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #969696;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
}

.text-second:hover {
    background: #1F1F1F;
}

.block {
    display: flex;
    align-items: center;
    text-align: center;

}


.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.top-header {
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
    min-width: 280px;
    min-height: 44px;
}

.content-top-header-right {
    display: flex;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    line-height: 16px;
    align-items: center;
    color: #969696;
}

.content-top-header-left {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    line-height: 16px;
    color: #969696;

}


.bottom-header {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background-color: #0f0f0f;
    justify-content: space-between;
    min-width: 360px;
    min-height: 80px;
}

.content-bottom-header-left {
    display: flex;
    flex: 1;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 250%;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: auto;

}

.center{
    display: flex;
    justify-content: center;
}

.content-bottom-header-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0 ;
    padding: 0;
    gap: 10px;
    list-style-type: none;
}


.content {
    height: auto;
    background-color: #191B1C;
}

.first-content {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    background: #0f0f0f url("images/Rectangle 3.jpg");
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 810px;

}

.first-middle-content {
    display: flex;
    color: #FFFFFF;
    border: #FFFFFF 4px solid;
    height: 320px;
    width: 320px;
    align-items: center;
    margin-bottom: 60px;
    justify-content: center;
    flex-direction: column;
}

.middle-content-text {
    font-family: 'Stick No Bills', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 64px;
    line-height: 60px;
    text-align: center;
    margin: 0;
}

.bottom-middle-content-text {
    text-align: center;
    text-decoration: overline;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;

}

.first-content-bottom-text {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    max-width: 730px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.second-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.second-content-left {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    background-color: black;
    flex-direction: column;
    min-width: 360px;
    min-height: 730px;
    flex-direction: column;
}

.second-content-text {
    display: flex;
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;
    justify-content: center;
    align-items: center;
    margin-top: 93px;
    margin-bottom: 20px;
    flex-direction: column;
}

.header-season{
    margin: 0;
}

.second-content-image {
    display: flex;
    min-height: fit-content;
    min-width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin-top: 22px;
    gap: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-bottom: 40px;
}

.image-clock {
    display: flex;
    width: 260px;
    height: 325px;
    /*height: 100%;*/
    justify-content: center;
    background-color: #131212;
    min-width: 200px;
    /*max-width: 215px;*/
    align-items: center;
    /*max-width: 215px;*/
}

.row {
    display: flex;
    flex-direction: row;
    min-height: 50px;
}

.row-second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
}


.second-content-right {
    display: flex;
    flex: 1;
    height: 100%;
    min-width: 360px;
    /*min-width: 45%;*/
    max-width: 880px;
    min-height: 730px;
    background-image: url("images/Rectangle 8.png");
    background-color: #191B1C;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-content-text-right {
    font-family: "Playfair Display";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 45%;
    color: #FFFFFF;

}

.button {
    background: none;
    color: #FFFFFF;
    font-family: PT Sans;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-align: center;
    border: 1px solid white;
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {
    background: #1F1F1F;
}

.button-second {
    display: flex;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    border: none;
    background: #0F0F0F;
    color: #FFFFFF;
    min-width: 70px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.button-second:hover {
    background: #1F1F1F;
}

.button-third {
    display: flex;
    font-family: PT Sans;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border: none;
    background: #0F0F0F;
    color: #FFFFFF;
    min-width: 140px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.button-third:hover {
    background: #1F1F1F;
}

.input {
    background: #FFFFFF66;
    padding-left: 20px;
}

::-webkit-input-placeholder {
    color: #b6b6b6;}

.third-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.third-content-left {
    display: flex;
    flex: 1;
    min-width: 360px;
    min-height: 600px;
    max-width: 880px;
    background-image: url("images/Rectangle 9.png");
    background-color: #191B1C;
    justify-content: center;
    align-items: center;
}

.third-content-right {
    display: flex;
    flex: 1;
    height: 100%;
    min-height: 600px;
    min-width: 360px;
    background-color: #000000;
    align-items: center;
    flex-direction: column;
}

.third-content-text-top {
    display: flex;
    margin-top: 10%;
    height: 20%;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-content-text-middle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    max-width: 60%;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.fourth-content {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background-color: black;
    align-items: center;
    flex-direction: column;
}

.fourth-text-top {
    display: flex;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 20px;
    flex-direction: column;
}

.fourth-text-image {
    display: flex;
    font-family: "Playfair Display";
    font-size: 18px;
    line-height: 21px;
    color: #fcfcfc;
    margin-top: 6%;
    flex-direction: column;
}

.fourth-content-image {
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
    margin: 50px 0px;
}

.fifth-content {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background-color: #0F0F0F;
    align-items: center;
    flex-direction: column;
    min-height: 360px;
}

.fifth-text-top {
    display: flex;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 20px;
    flex-direction: column;
}

.fifth-content-image {
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}



.column-second {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-bottom: 20px;
}

.image-brand {
    display: flex;
    justify-content: space-around;
    background-color: #0f0f0f;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    background-color: #000000;
    color: #FFFFFF;
    flex-direction: column;
}

.sixth-content {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    min-height: 400px;
    justify-content: space-around;
}

.sixth-content-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 8% 5px 30px 10px;
}

.sixth-left-top {
    display: flex;
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-top: 3%;
}

.sixth-left-bottom {
    display: flex;
    font-family: Playfair Display;
    font-size: 14px;
    line-height: 21px;
    color: #fcfcfc;
    margin-top: 40px;
}

.sixth-content-middle {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 8% 5px 30px 10px;

}

.sixth-middle-top {
    display: flex;
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-top: 3%;
    font-weight: normal;
}

.sixth-middle-bottom {
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
}

.mail {
    display: flex;
    background: #FFFFFF66;
    color: #fcfcfc;
    min-width: 210px;
    padding: 10px;
}

.sixth-content-button {
    display: flex;
    background: #0F0F0F;
    padding: 10px;
    color: #fcfcfc;
    font-size: 14px;
    line-height: 21px;
}

.child-middle-top {
    display: flex;
    flex: 1;
    min-height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    padding: 0;
    list-style-type: none;
}

.sixth-content-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 8% 5px 10px 10px;
}

.sixth-right-top {
    display: flex;
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-top: 3%;
}

.sixth-middle-text {
    display: flex;
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 21px;
    color: #fcfcfc;
    margin: 40px 0px;
    max-width: 350px;
}

.sixth-middle-text2 {
    display: flex;
    width: 100%;
    font-family: Playfair Display;
    font-size: 14px;
    line-height: 21px;
    color: #fcfcfc;
    margin-top: 3%;
}
